doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    |     
    title Hello
    |   &#x9;
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  body
    .container(style='margin-top: 100px')
      a.btn.btn-default.btn-block(href='/idea', style='margin-bottom: 20px') Share New Idea 
      .row
        .col-md-12
          table.table.table-bordered
            thead
              tr
                th Idea Link
                |  
                th Date
                |  
                th Update Buttons
            tbody
              each idea in ideas
                tr
                  td
                    a(href=`https://www.tradingview.com${idea.link}`)= idea.link 
                  |  
                  td= idea.date.toLocaleDateString('en-EN', options)
                  |  
                  td 
                    a.btn.btn-default.btn-block(href=`/updates/${idea._id}`) Update

                
